@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #CCCCCC; 
    margin-bottom: 40px !important;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #C92071;
    ; 
  }

  @media screen and (min-width:770px) {
    .swiper-pagination-bullet {
      margin-bottom: 53px !important;
    }
  }

